<html>

<head>
  <title>雪球</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" href="css/main.css">
</head>

<body>
  <script type="text/x-template" id="stock-grid-template">
    <table>
      <thead>
        <tr>
          <th v-for="(column, index) in columns"
              @click="sortBy(column.key)"
              :class="{left: index == 0}">
            {{ column.displayName }}
            <span
              class="arrow"
              :class="reversed[column.key] ? 'dsc' : 'asc'">
            </span>
          </th>
        </tr>
      </thead>

      <tbody>
        <tr
          :key="index + entry.code"
          v-for="(entry, index) in data">
          <td class="left">
            {{ entry.name }}
            <br/>
            <span class="code">{{ entry.code }}</span>
          </td>
          <td>
            {{ entry.currentFormated }}
          </td>
          <td :class="{
            up: entry.change > 0,
            down: entry.change < 0
          }">
            {{ entry.change }} ({{ entry.percentage }}%)
          </td>
        </tr>
      </tbody>
    </table>
  </script>

  <div id="container">

    <stock-grid
      :columns="gridColumns"
      :data="gridData"></stock-grid>

    <div id="footer">
      <button @click="onOpenDir" id="open-dir">打开配置文件</button>
      <button @click="onTerminate" id="quit">退出</button>
    </div>
  </div>

  <script>
    require('./app.js');
  </script>
</body>

</html>
